th {
    text-align: right;
    max-width: 300px;
    min-width: 150px;
    
}

.transcript-table {
    width: 100%; /* Make table fill available width */
    border-collapse: collapse; /* Remove borders between cells */
  }
  
  .column {
    text-align: left; 
    padding: 10px; 
    border: 1px solid #ddd; 
    box-sizing: border-box; 
    white-space: nowrap;
    width: calc(100% / 18); 
  }

  .signature {
    max-height: 100px; 
    overflow: auto; 
    word-wrap: break-word;
    text-overflow: ellipsis;
  }

  